@media (max-width: 768px) {
  .cards-section {
    overflow-x: auto;
  }

  .big-card {
    min-width: 250px;
  }
}

.cards-container {
  overflow-x: scroll;
}

.mini-card {
  border-radius: 6px;
}

.big-card,
.img-wapper {
  border-radius: 12px;
}

.big-card:nth-child(even) img {
  padding: 45px 0;
}
