/* .filter-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 100px;
} */

.filter-card {
  position: absolute;
  width: 500px;
  height: 100vh;
  left: -100%;
  z-index: 10;
  transform: 0.5s linear all;
}

.show-filter-card {
  left: 0;
}

.fixed-top {
  transform: 0.5s linear all;
}

.filter-btn {
  padding: 2px 7px;
  background-color: #fff;
  border-radius: 5px;
}

.filter-btn-clicked {
  background-color: #ff7010;
}
