ul {
  list-style: none;
}

svg {
  color: #ff7010;
  cursor: pointer;
}

.nav-toggle-menus {
  transition: 0.3s ease-in;
  left: -100%;
  z-index: 2;
  position: absolute;
  width: 100%;
}

.show {
  left: 0;
}
